In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [ ]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

In [ ]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[]

In [ ]:
# pd.io.sql.read_sql("select * from pageviews limit 10;", conn)

In [2]:
import psycopg
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px
import matplotlib.pyplot as plt


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student19'
DB_USER_PASSWORD = 'student19_password'
DB_NAME = 'sql_ex_for_student19'

con_psgr = psycopg.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

-- sqlite3: Перенести таблицы product в локальную sqlite3 (те сделать снэпшот этих таблиц из postgreSQL в sqlite3 через python).

In [ ]:
df = pd.read_sql("""
                    select * from product
                """, con_psgr)
df.to_sql(name='product', con=conn)
conn.execute("select * from product").fetchall()

--task2  (lesson7)
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: 
        посчитать количество всех товаров стоимостью больше 500. 
        (через %%time перед запросом в ноутбуке)

In [3]:
%%time
df = pd.read_sql("""
                    select * from product 
                    where maker = 'A'
                """, con_psgr)

CPU times: user 134 ms, sys: 12.2 ms, total: 146 ms
Wall time: 246 ms

In [4]:
%%time
df = pd.read_sql("""
                    select * from product 
                    where maker = 'A'
                """, conn)

CPU times: user 3.02 ms, sys: 427 µs, total: 3.45 ms
Wall time: 2.53 ms

In [5]:
import sys
!{sys.executable} -m pip install sqlitedict

Collecting sqlitedict
  Downloading https://files.pythonhosted.org/packages/5c/2d/b1d99e9ad157dd7de9cd0d36a8a5876b13b55e4b75f7498bc96035fb4e96/sqlitedict-1.7.0.tar.gz
Building wheels for collected packages: sqlitedict
  Building wheel for sqlitedict (setup.py) ... done
  Stored in directory: /home/natawren/.cache/pip/wheels/cf/c6/4f/2c64a43f041415eb8b8740bd80e15e92f0d46c5e464d8e4b9b
Successfully built sqlitedict
Installing collected packages: sqlitedict
Successfully installed sqlitedict-1.7.0

In [6]:
import sqlitedict
import pandas as pd

In [7]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [8]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()

In [9]:
print(mydict['key1'])
print(mydict['key2'])
print(mydict['key3'])

value1
['123', 123]
Empty DataFrame
Columns: []
Index: []

In [10]:
!{sys.executable} -m pip install tinydb

Collecting tinydb
  Downloading https://files.pythonhosted.org/packages/2c/76/93df2ac94dacc0f63e4263ee7cf4787d0c3df22859d9e0627958048f39c7/tinydb-4.7.0-py3-none-any.whl
Requirement already satisfied: typing-extensions<5.0.0,>=3.10.0; python_version <= "3.7" in /home/natawren/anaconda3/lib/python3.7/site-packages (from tinydb) (4.1.1)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.0

In [11]:
from tinydb import TinyDB, Query

In [12]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')
db.insert({'int': 1, 'char': 'a'})
db.insert({'int': 1, 'char': 'b'})

2

In [13]:
User = Query()
db.search(User.char == 'a')

[{'int': 1, 'char': 'a'}]

In [ ]:
-- sqlite3: Сделать тестовый проект с БД (sqlite3, project name: task1_7).
    В таблицу table1 записать 1000 строк с случайными значениями (3 колонки, тип int) от 0 до 1000.
-- Далее построить гистаграмму распределения этих трех колонко

In [20]:
import sqlite3
import pandas as pd
import random
conn = sqlite3.connect('task1_7')  
c = conn.cursor()
df = pd.DataFrame({'first_col':[random.randint(1,1000) for i in range(1000)],
                  'second_col': [random.randint(1,1000) for i in range(1000)],
                  'third_col': [random.randint(1,1000)for i in range(1000)]})
request = "CREATE TABLE table1(first_col int, second_col int, third_col int)"
c.execute(request)
df.to_sql(name='table1',if_exists='append',index=False, con=conn)

     first_col  second_col  third_col
0          437         326        304
1           52         447        342
2          733         592        285
3          324         331        449
4          103         927        947
5          513         748        288
6          644         466        440
7          490         827        271
8          503         406        624
9          977         687        630
10         759         804        490
11         855         668        565
12         877         694        393
13         462         102        214
14         864         738        525
15         350         992        658
16         709         960        369
17         749         650        420
18         739         768        462
19         423         980        692
20         139         977        162
21         710         385        228
22         670         720        251
23         352         580        373
24          66         342         79
25         618         724        242
26         793         778         12
27         828         737        839
28         629         306        948
29         611         888        272
..         ...         ...        ...
970        963         878        148
971        706         882        497
972        780         295        571
973        665         951        271
974        808         268        370
975        182         811         62
976        173         486        273
977        504         158        469
978        630         878        707
979         20         567        601
980        506         166        857
981        305         193         66
982        281         398         84
983        882         951        117
984        150         984        339
985        675         306        506
986         63         105        120
987        796         430        500
988        279         563         31
989        265         767        705
990        492         232        470
991        284         998        396
992        418         820        655
993        608         228        531
994        967         212        704
995        503         868        773
996        705         593        230
997        483         784         48
998        325         852        119
999        368         987         46

[1000 rows x 3 columns]

In [28]:
df.reset_index(drop=True, inplace=True)
df

     first_col  second_col  third_col
0          437         326        304
1           52         447        342
2          733         592        285
3          324         331        449
4          103         927        947
5          513         748        288
6          644         466        440
7          490         827        271
8          503         406        624
9          977         687        630
10         759         804        490
11         855         668        565
12         877         694        393
13         462         102        214
14         864         738        525
15         350         992        658
16         709         960        369
17         749         650        420
18         739         768        462
19         423         980        692
20         139         977        162
21         710         385        228
22         670         720        251
23         352         580        373
24          66         342         79
25         618         724        242
26         793         778         12
27         828         737        839
28         629         306        948
29         611         888        272
..         ...         ...        ...
970        963         878        148
971        706         882        497
972        780         295        571
973        665         951        271
974        808         268        370
975        182         811         62
976        173         486        273
977        504         158        469
978        630         878        707
979         20         567        601
980        506         166        857
981        305         193         66
982        281         398         84
983        882         951        117
984        150         984        339
985        675         306        506
986         63         105        120
987        796         430        500
988        279         563         31
989        265         767        705
990        492         232        470
991        284         998        396
992        418         820        655
993        608         228        531
994        967         212        704
995        503         868        773
996        705         593        230
997        483         784         48
998        325         852        119
999        368         987         46

[1000 rows x 3 columns]

In [22]:
request = "CREATE TABLE table1(first_col int, second_col int, third_col int)"
c.execute(request)

In [31]:
df.to_sql(name='table1',if_exists='append',index=False, con=conn)

In [33]:
df = pd.read_sql("""
                    select * from table1
                """, conn)
df

     first_col  second_col  third_col
0          437         326        304
1           52         447        342
2          733         592        285
3          324         331        449
4          103         927        947
5          513         748        288
6          644         466        440
7          490         827        271
8          503         406        624
9          977         687        630
10         759         804        490
11         855         668        565
12         877         694        393
13         462         102        214
14         864         738        525
15         350         992        658
16         709         960        369
17         749         650        420
18         739         768        462
19         423         980        692
20         139         977        162
21         710         385        228
22         670         720        251
23         352         580        373
24          66         342         79
25         618         724        242
26         793         778         12
27         828         737        839
28         629         306        948
29         611         888        272
..         ...         ...        ...
970        963         878        148
971        706         882        497
972        780         295        571
973        665         951        271
974        808         268        370
975        182         811         62
976        173         486        273
977        504         158        469
978        630         878        707
979         20         567        601
980        506         166        857
981        305         193         66
982        281         398         84
983        882         951        117
984        150         984        339
985        675         306        506
986         63         105        120
987        796         430        500
988        279         563         31
989        265         767        705
990        492         232        470
991        284         998        396
992        418         820        655
993        608         228        531
994        967         212        704
995        503         868        773
996        705         593        230
997        483         784         48
998        325         852        119
999        368         987         46

[1000 rows x 3 columns]